{
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "react-native",
    "flowtype",
    "svelte3"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": 2,
    "no-console": 0,
    "require-await": 2,
    "eqeqeq": ["error", "smart"],
    "no-var": 2,
    "prefer-const": 2,
    "object-shorthand": 2,
    "object-curly-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "arrow-body-style": [2, "as-needed"],
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "max-len": [
      2,
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],

    "react/prop-types": 0,
    "react/display-name": 0,
    "react/react-in-jsx-scope": 0,
    "react/no-unknown-property": 0,
    "react-hooks/exhaustive-deps": 1,
    "react-hooks/rules-of-hooks": 2,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 0,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2
  },

  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],

  "env": {
    "browser": true,
    "es6": true,
    "react-native/react-native": true
  },

  "settings": {
    "react": {
      "version": "16.8.6",
      "flowVersion": "0.79.1"
    }
  },

  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ]
}
