[user]
	email = dan@oxism.com
	name = Dan Motzenbecker

[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[credential]
	helper = osxkeychain

[http]
	cookiefile = ~/.gitcookies

[pull]
	rebase = false

[color]
	ui = true
	colorMoved = default

[delta]
	navigate = true
	line-numbers = true
