fish/fish_history
fish/fish_variables
fish/fishd.*
fish/bookmarks.fish
fish/google.fish
lein/repl-history
lein/repl-port
fish/completions
fish/functions/__bass.py
fish/functions/bass.fish
fish/functions/fisher.fish
fish/functions/_pisces*
fish/conf.d
fish/.config.fish.swp
