fish/fish_history
fish/fish_variables
fish/fishd.*
fish/bookmarks.fish
fish/google.fish
lein/repl-history
fish/completions/fisher.fish
fish/functions/__bass.py
fish/functions/bass.fish
fish/functions/fisher.fish
fish/conf.d
